<ion-header>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <ion-toolbar style="padding-top:22px;" class="toolbar-header" >
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>



    <div style="display:flex; align-items:center; width:100%; ">
        <span style="font-size: clamp(20px, 6vw, 40px); font-weight: bold; color:black; font-family:'Quicksand',sans-serif;">
          Solicitar Grabación
        </span>

        <img src="assets/icono-app.png" alt="Logo" 
            style="height:50px; margin-left:auto;">
      </div>






    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false" style="padding-top: 0; padding-bottom:calc(16px + var(--app-safe-area-bottom));" class="ion-padding content-bg">

  <div class="ayuda-trigger-container">
  <div class="ayuda-trigger" (click)="mostrarAyuda()">
    <ion-icon name="help-circle-outline"></ion-icon>
    <span>¿Como Solicitar Grabaciones? Click acá</span>
  </div>
  </div>

  
  <div class="container" style="padding-bottom: 100px;">


    <div style="background: #ffffffbe; border-radius: 20px;display: flex; flex-direction: column; padding: 0px 10px 0px; border: solid 2px white;">
      <h3 style="color: rgb(34, 34, 34);" class="subtitulo">Que es esto?</h3>
      <p style="color: rgb(34, 34, 34);">La funcion de este apartado es solicitar grabaciones de algun incidente dentro de la comuna.</p>
      <p style="color: rgb(34, 34, 34);">IMPORTANTE: Para la entrega de grabaciones se necesita una denuncia legal, ese apartado es solo para que la seguridad publica guarde tus grabaciones.</p>
      
    </div>


    <!-- 🧍‍♂️ Datos Personales -->
    <div class="card">
      <h3 class="subtitulo">Datos Personales</h3>

      <ion-input
        [(ngModel)]="nombre"
        label="Nombre"
        labelPlacement="stacked"
        placeholder="Ej: Juan"
        fill="outline"
        (ionInput)="validarLetras($event, 'nombre')"
      ></ion-input>

      <ion-input
        [(ngModel)]="apellido"
        label="Apellido"
        labelPlacement="stacked"
        placeholder="Ej: Pérez"
        fill="outline"
        (ionInput)="validarLetras($event, 'apellido')"
      ></ion-input>

      <ion-input
        [(ngModel)]="rut"
        label="RUT"
        labelPlacement="stacked"
        placeholder="Ej: 12345678-9"
        fill="outline"
        (ionInput)="validarRut($event)"
      ></ion-input>

      <ion-input
        [(ngModel)]="telefono"
        label="Teléfono"
        labelPlacement="stacked"
        placeholder="Ej: 912345678"
        type="tel"
        fill="outline"
        (ionInput)="validarNumeros($event)"
      ></ion-input>
    </div>

    <!-- 📷 Datos de Solicitud -->
    <div class="card">
      <h3 class="subtitulo">Datos Necesarios y Legales</h3>

      <ion-input
        [(ngModel)]="nRegistro"
        label="Número de registro PDI/Carabineros"
        labelPlacement="stacked"
        placeholder="Ej: 2387456"
        fill="outline"
       
      ></ion-input>



      <ion-input
        [(ngModel)]="calle"
        label="Calle / Referencias"
        labelPlacement="stacked"
        placeholder="Ej: Av. Principal 123, cerca de la plaza"
        fill="outline"
        (ionInput)="validarDireccion($event)"
      ></ion-input>

      <ion-textarea
        [(ngModel)]="motivo"
        label="Motivo de la petición"
        labelPlacement="stacked"
        placeholder="Describe brevemente el motivo"
        fill="outline"
        auto-grow="true"
        (ionInput)="validarLetras($event, 'motivo')"
      ></ion-textarea>

      <!-- Datetime -->
      <div class="datetime-container">
        <ion-input
          [value]="displayFechaHora"
          readonly
          label="Fecha y hora de solicitud"
          labelPlacement="stacked"
          placeholder="Seleccionar fecha y hora"
          class="datetime-input"
        ></ion-input>

        <ion-datetime
          id="dt"
          (ionChange)="onDatetimeChange($event)"
          presentation="date-time"
          locale="es-ES"
          hour-cycle="h23"
          class="datetime-centro"
        ></ion-datetime>
      </div>
    </div>
    <!-- Botón Reportar -->
  <div class="report-btn-container">
    <ion-button expand="block" (click)="guardarSolicitud()" class="btn-reportar">
      Solicitar Grabación
    </ion-button>
  </div>
  </div>


</ion-content>