<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-family: 'Poppins'" slot="start">¿Cómo Solicitar?</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top: var(--ion-safe-area-top); padding-bottom: calc(16px + var(--ion-safe-area-bottom));" class="ayuda-bg">
  <div style="padding-bottom: 30px;" class="ayuda-container">

    <div style="display: flex; flex-direction: column; padding: 0px 10px 0px; border-bottom: solid 1px rgba(0, 0, 0, 0.719);">
      <h3 style="color: rgb(0, 0, 0);  text-align: center;" class="subtitulo"><strong>¿Qué es esto?</strong></h3>
      <p style="color: rgb(0, 0, 0); margin: 0px 0px 10px ;">La función de este apartado es solicitar grabaciones de algún incidente dentro de la comuna.</p>
      <p style="color: rgb(0, 0, 0); margin: 0px 0px 10px ;">
        <strong>IMPORTANTE:</strong> Para la entrega de grabaciones se necesita una denuncia legal. Este apartado es solo para que la seguridad pública guarde tus grabaciones.
      </p>
    </div>



    <div class="paso">
      <h3>1. Datos personales</h3>
      <p>Completa todos los datos personales necesarios, siguiendo los ejemplos.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-camara1.png" alt="">
    </div>

    <div class="paso">
      <h3 style="padding-top: 10px;">2. Datos legales necesarios</h3>
      <p style="padding-bottom: 5px;">-NUMERO DE REGISTRO (CARABINERO O PDI) asignado a tu denuncia.</p>
      <p style="padding-bottom: 5px;">-CALLE O REFERENCIA lo mas claro ya que con ESO se buscaran las camaras.</p>
      <p style="padding-bottom: 5px;">-Mismo MOTIVO de la denuncia, para poder entregar alguna grabacion.</p>
      <p>-Fecha y hora exacta.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);"  src="../../../../assets/ayuda-camara2.png" alt="">
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-camara3.png" alt="">
    </div>


    <div class="paso">
      <h3 style="padding-top: 10px;">3. Finalizar</h3>
      <p>Tu solicitud de grabación ya se habrá enviado de buena manera, presiona OK.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-camara4.png" alt="">
    </div>
  </div>
</ion-content>