<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">¿Cómo Solicitar?</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content style="padding-bottom: 30px;"  class="ayuda-bg">
  <div style="padding-bottom: 30px;" class="ayuda-container">
    <div class="paso">
      <h3>1. Datos personales</h3>
      <p>Completa todos los datos personales necesarios, RUT completo sin punto ni guion. TELEFONO sin puntos</p>
      <img style="padding-bottom: 10px;" src="../../../../assets/ayuda-camara1.png" alt="">
    </div>

    <div class="paso">
      <h3>2. Datos legales necesarios</h3>
      <p style="padding-bottom: 5px;">-NUMERO DE REGISTRO (CARABINERO O PDI) asignado a tu denuncia.</p>
      <p style="padding-bottom: 5px;">-CALLE O REFERENCIA lo mas claro ya que con ESO se buscaran las camaras.</p>
      <p style="padding-bottom: 5px;">-Mismo MOTIVO de la denuncia, para poder entregar alguna grabacion.</p>
      <p>-Fecha y hora exacta.</p>
      <img  src="../../../../assets/ayuda-camara2.png" alt="">
      <img style="padding-bottom: 10px;" src="../../../../assets/ayuda-camara3.png" alt="">
    </div>


    <div class="paso">
      <h3>3. Finalizar</h3>
      <p>Tu solicitud de grabación ya se habrá enviado de buena manera, presiona OK.</p>
      <img src="../../../../assets/ayuda-camara4.png" alt="">
    </div>
  </div>
</ion-content>