<ion-header>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <ion-toolbar class="toolbar-header" style="padding-top:22px;">
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <div style="display:flex; align-items:center; width:100%;">
        <span style="font-size: clamp(26px, 6vw, 40px); font-weight: bold; color:black; font-family:'Quicksand',sans-serif;">
          Reporte
        </span>

        <img src="assets/icono-app.png" alt="Logo" 
            style="height:50px; margin-left:auto;">
      </div>


    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false" style="padding-bottom: 50px;" class="ion-padding content-bg">





  <div class="ayuda-trigger-container">
  <div class="ayuda-trigger" (click)="mostrarAyuda()">
    <ion-icon name="help-circle-outline"></ion-icon>
    <span>¿Cómo reportar? Click acá</span>
  </div>
  </div>
  
  <div style="background: #ffffffbe; border-radius: 20px;display: flex; flex-direction: column; padding: 0px 10px 0px; border: solid 2px white;">
      <h3 style="color: rgb(34, 34, 34); font-size: 19px; font-size: 18px; text-align: center;" class="subtitulo">Que es esto?</h3>
      <p style="color: rgb(34, 34, 34);">La funcion de este apartado es reportar un incidente dentro de la comuna, Dependiendo de la sensibilidad del reporte este se mostrará o no en el mapa.</p>
      <p style="color: rgb(34, 34, 34);">IMPORTANTE: El reporte es anonimo, ningun residente podrá ver tus datos.</p>
      
    </div>


  <ion-row style="padding-top: 10px;" class="top-row">
    <!-- Botón Cámara -->
    <ion-col size="3" class="camera-col">
      <div 
        (click)="abrirCamara()" 
        class="camera-btn" 
        [class.disabled]="foto" 
        [style.pointer-events]="foto ? 'none' : 'auto'"
        [style.opacity]="foto ? '0.5' : '1'">
        <ion-icon name="camera" class="camera-icon"></ion-icon>
      </div>
    </ion-col>

    <!-- Botón Ubicación -->
    <ion-col size="9">
      <div class="location-container">
        <ion-icon name="location" class="location-icon"></ion-icon>
        <span class="location-text">{{ ubicacionDisplay }}</span>
      </div>
    </ion-col>

  </ion-row>

  <!-- Botón eliminar foto -->
  <ion-button *ngIf="foto"  color="danger" expand="block" (click)="confirmarEliminarFoto()" class="btn-eliminar">
    Eliminar Foto
  </ion-button>

  <!-- Mostrar la foto tomada -->
  <ion-img *ngIf="foto" [src]="foto" class="foto-tomada"></ion-img>



  


  <!-- Cuadro blanco tipo textarea -->
  <div class="textarea-container">
  <ion-textarea
    placeholder="Escribe qué está pasando..."
    autoGrow="true"
    class="textarea-input"
    [(ngModel)]="descripcion">
  </ion-textarea>
  </div>




  

  <!-- Botón Reportar fijo -->
  <div class="report-btn-container">
  <ion-button style="padding-bottom: 30px; padding-top: 20px;" expand="block" class="btn-reportar" (click)="submitReport()">
    Reportar
  </ion-button>
</div>

</ion-content>