<ion-header>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <span class="header-title">
      Reportes
    </span>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-bg">

  <ion-grid>
    <ion-row>
      <ion-col style="padding-bottom: 10%;" 
        *ngFor="let familia of familias"
        size="6"
        size-xs="6"
        size-sm="6"
        size-md="6"
        size-lg="6"
        class="familia-col"
      >
        <div 
          routerLink="/formulario-reporte" 
          [style.background-color]="familia.color" 
          class="familia-btn" 
          (click)="selectFamilia(familia)"
        >
          <ion-icon [name]="familia.icon" class="familia-icon"></ion-icon>
        </div>
        <div class="familia-name">{{ familia.nickname }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>