<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  slot="start">¿Cómo reportar?</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content style="padding-bottom: 30px;"  class="ayuda-bg">
  <div style="padding-bottom: 30px;" class="ayuda-container">
    <div class="paso">
      <h3>1. Subir foto</h3>
      <p>Presiona el botón de cámara para tomar una foto y adjuntarla al formulario.</p>
      <img style="padding-bottom: 10px;" src="../../../../assets/ayuda-reporte1.png" alt="">
    </div>

    <div class="paso">
      <h3>2. Revision</h3>
      <p>Asegurate de que es la foto correcta, tienes la opcion de eliminarla.</p>
      <img style="padding-bottom: 10px;" src="../../../../assets/ayuda-reporte2.png" alt="">
    </div>

    <div class="paso">
      <h3>2. Descripcion y Reporte</h3>
      <p>Escribe en el espacio en blanco lo que está pasando y Presiona el botón para reportar.</p>
      <img style="padding-bottom: 10px;" src="../../../../assets/ayuda-reporte3.png" alt="">
    </div>

    <div class="paso">
      <h3>3. Finalizar</h3>
      <p>Tu reporte ya se habrá enviado de buena manera, presiona OK.</p>
      <img src="../../../../assets/ayuda-reporte4.png" alt="">
    </div>
  </div>
</ion-content>