<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-family: 'Poppins'"  slot="start">¿Cómo reportar?</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content style="padding-top: 0; padding-bottom: calc(16px + var(--ion-safe-area-bottom));" class="ayuda-bg">
  
  <div style="padding-bottom: 30px;" class="ayuda-container">


    <div style="display: flex; flex-direction: column; padding: 0px 10px 0px; border-bottom: solid 1px rgba(0, 0, 0, 0.719);">
      <h3 style="color: rgb(0, 0, 0);  text-align: center;" class="subtitulo"> <strong>Que es esto?</strong></h3>
      <p style="color: rgb(0, 0, 0); margin: 0px 0px 10px ;">La funcion de este apartado es reportar un incidente dentro de la comuna, dependiendo de la sensibilidad, este se mostrará o no en el mapa.</p>
      <p style="color: rgb(0, 0, 0); margin: 0px 0px 10px ;"> <strong>IMPORTANTE:</strong> El reporte es anonimo, ningun residente podrá ver tus datos.</p>
      
    </div>


    <div class="paso">
      <h3>1. Subir foto</h3>
      <p>Presiona el botón de cámara para tomar una foto y adjuntarla al formulario.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-reporte1.png" alt="">
    </div>

    <div class="paso">
      <h3 style="padding-top: 10px;">2. Revision</h3>
      <p>Asegurate de que es la foto correcta, tienes la opcion de eliminarla.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-reporte2.png" alt="">
    </div>

    <div class="paso">
      <h3 style="padding-top: 10px;">2. Descripcion y Reporte</h3>
      <p>Escribe en el espacio en blanco lo que está pasando y Presiona el botón para reportar.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-reporte3.png" alt="">
    </div>



    <div class="paso">
      <h3 style="padding-top: 10px;">3. Finalizar</h3>
      <p>Tu reporte ya se habrá enviado de buena manera, presiona OK.</p>
      <img style=" border-radius: 12px; overflow: hidden; border: 1px solid (#96c0ff);" src="../../../../assets/ayuda-reporte4.png" alt="">
    </div>
  </div>
</ion-content>