<ion-header>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <ion-toolbar class="toolbar-header" style="padding-top:22px;">
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="/menu" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <div style="display:flex; align-items:center; width:100%;">
        <span style="font-size: clamp(26px, 6vw, 40px); font-weight: bold; color:black; font-family:'Quicksand',sans-serif;">
          Reportes

        </span>

        <img src="assets/icono-app.png" alt="Logo" 
            style="height:50px; margin-left:auto;">
      </div>


  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false" style="padding-top: 0; padding-bottom: calc(16px + var(--app-safe-area-bottom));" class="ion-padding">

  <!-- Mostrar mientras carga -->

  <ion-spinner *ngIf="cargando" name="crescent" class="spinner-center"></ion-spinner>

  <!-- Mostrar lista cuando ya cargó -->
  <ion-list *ngIf="!cargando && reportes.length > 0" style="background: transparent;">
    <ion-card *ngFor="let reporte of reportes; let i = index" class="reporte-card">
      <ion-card-header>
        <ion-card-title class="titulo">{{ reporte.titulo || ('Reporte ' + (reportes.length - i)) }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="campo">
          <label>Fecha</label>
          <p>{{ convertirFecha(reporte.fecha) }}</p>
        </div>

        <div class="campo" *ngIf="reporte.ubicacion">
          <label>Ubicación</label>
          <p>{{ reporte.ubicacion }}</p>
        </div>

        <div class="campo" *ngIf="reporte.descripcion">
          <label>Descripción</label>
          <p>{{ reporte.descripcion }}</p>
        </div>

        <div class="campo" *ngIf="reporte.descripcion">
          <label>Estado</label>
          <p>{{  obtenerEstadoTexto(reporte.estado) }}</p>
        </div>

        <div class="campo" *ngIf="reporte.fotoURL">
          <label>Imagen</label>
          <div class="imagen-container">
            <img [src]="reporte.fotoURL" alt="Imagen del reporte" />
          </div>
        </div>

        

      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Si no hay reportes -->
  <div *ngIf="!cargando && reportes.length === 0" class="no-reportes">
    <ion-icon name="archive-outline"></ion-icon>
    <p>No hay reportes registrados aún.</p>
  </div>

</ion-content>