<ion-header>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <ion-toolbar class="toolbar-header" style="padding-top:22px;">
    <ion-buttons slot="start" class="back-button">
      <ion-back-button defaultHref="/menu" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <div style="display:flex; align-items:center; width:100%;">
        <span style="font-size: clamp(26px, 6vw, 40px); font-weight: bold; color:black; font-family:'Quicksand',sans-serif;">
          Grabaciones
        </span>

        <img src="assets/icono-app.png" alt="Logo" 
            style="height:50px; margin-left:auto;">
      </div>
  


  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false" style="padding-top: 0; padding-bottom: calc(16px + var(--app-safe-area-bottom));" class="ion-padding">

  <ion-spinner *ngIf="cargando" name="crescent" class="spinner-center"></ion-spinner>

  <ion-list *ngIf="!cargando && camaras.length > 0" style="background: transparent;">
    <ion-card *ngFor="let camara of camaras; let i = index" class="reporte-card">
      <ion-card-header>
        <ion-card-title class="titulo">
          {{ camara.titulo || ('Cámara ' + (camaras.length - i)) }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="campo">
          <label>Nombre</label>
          <p>{{ camara.nombre }} {{ camara.apellido }}</p>
        </div>

        <div class="campo">
          <label>RUT</label>
          <p>{{ camara.rut }}</p>
        </div>

        <div class="campo">
          <label>Teléfono</label>
          <p>{{ camara.telefono }}</p>
        </div>

        <div class="campo">
          <label>Fecha</label>
          <p>{{ convertirFecha(camara.fecha) }}</p>
        </div>

        <div class="campo">
          <label>N de Registro</label>
          <p>{{ (camara.nRegistro) }}</p>
        </div>

        <div class="campo">
          <label>Calle</label>
          <p>{{ camara.calle }}</p>
        </div>

        <div class="campo">
          <label>Motivo</label>
          <p>{{ camara.motivo }}</p>
        </div>

        <div class="campo">
          <label>Estado</label>
          <p>{{ obtenerEstadoTexto(camara.estado)  }}</p>
        </div>
      </ion-card-content>
    </ion-card
    >
  </ion-list>

  <div *ngIf="!cargando && camaras.length === 0" class="no-reportes">
    <ion-icon name="videocam-outline"></ion-icon>
    <p>No hay cámaras registradas aún.</p>
  </div>

</ion-content>