   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" aria-label="Cerrar">
        <ion-icon style="color: black;" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-family: 'Poppins'"   style="color: black;">Detalles del Reporte</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="reporte-bg" style="--padding-bottom: calc(var(--ion-safe-area-bottom) + 16px);">
  <div class="reporte-container">

    <!-- Ubicación -->
    <div class="paso">
      <h3>Ubicación</h3>
      <p>{{ reporte.ubicacion || 'No especificada' }}</p>
    </div>

    <!-- Descripción -->
    <div class="paso">
      <h3>Descripción</h3>
      <p>{{ reporte.descripcion || 'Sin descripción' }}</p>
    </div>

    <!-- Foto -->
    <div class="paso" *ngIf="reporte.fotoURL">
      <h3>Foto</h3>
    
        <img class="photo" [src]="reporte.fotoURL" alt="Foto del reporte" loading="lazy" />
  
    </div>

  </div>
</ion-content>