ion-content, 
#Map-page, 
#mapId {
  height: 100% !important;
  width: 100% !important;
}

#mapId {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.material-symbols-outlined {
  font-size: 220%;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 0
}













}
